  <div class="notice"><%= flash[:notice] %></div>
  <div> <%= @index_data %> </div><br>
  <div> <%= session[:id] %> </div><br>

  <a href="/new">Add stuff to session cause it's fun!</a><br><br>
  <a href="/add">MAKE SESSION GREAT AGAIN!</a>
