<h1>WOOT WOOT ADDING NUMBERS TO SESSION!</h1>
    <div class="notice"><%= flash[:notice] %></div>
    <div> <%= session[:id] %> </div>
    <a href="/reset">Rest Session homes!</a>
    <a href="/">GO HOME!!</a>
<a href="/add">MAKE SESSION GREAT AGAIN!</a>